/* * {
    outline: solid 2px greenyellow;
} */
body {
    font-family: 'Courier New';
    background: linear-gradient(135deg, rgb(50, 4, 135), rgb(91, 14, 86));
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
}

.amp-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: max-content;
    box-sizing: border-box;
    border: solid black 6px;
    background-color: black;
    overflow: hidden;
    box-shadow:
        0 20px 40px rgba(0,0,0,0.4),
        inset 0 2px 4px rgba(255,255,255,0.1);
}

.amp-body {
    background: rgb(35, 4, 92);
    width: 800px;
    height: 200px;
    border-radius: 14px 14px 0 0;
    box-shadow:
        0 20px 40px rgba(0,0,0,0.4),
        inset 0 2px 4px rgba(255,255,255,0.1);
    position: relative;
    border: 3px solid #40407a;
}

.knob-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.display-screen {
    font-size: larger;
    padding: 50px;
    text-align: center;
    width: 100%;

    height: 490px;
    box-sizing: border-box;
    background-image:
        linear-gradient(rgb(66, 66, 66) 10px, transparent 1px),
        linear-gradient(90deg, rgb(57, 57, 57) 5px, transparent 1px);
    background-size: 40px 20px;
    background-color: rgba(0, 0, 0, 0.6);

}

.knob {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at 50% 50%, #663d9e, #2c2c54);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:
        0 8px 16px rgba(0,0,0,0.3),
        inset 0 2px 4px rgba(255,255,255,0.1),
        inset 0 -2px 4px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

 .knob-indicator {
    width: 4px;
    height: 28px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 8px;
    left: 50%;
    transform-origin: center bottom;
    margin-left: -2px;
    border-radius: 2px;
    transform: rotate(225deg);
    transition: transform 0.3s ease;
}
.knob-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.display-content {
    opacity: 0;
}

.display-content.active {
    opacity: 1;
}