/* * {
    outline: solid 2px greenyellow;
} */
body {
    font-family: 'Courier New';
    background: linear-gradient(135deg, rgb(50, 4, 135), rgb(91, 14, 86));
    color: white;
}

.amp-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amp-body {
    background: rgb(35, 4, 92);
    width: 800px;
    height: 200px;
    border-radius: 20px;
    box-shadow:
        0 20px 40px rgba(0,0,0,0.4),
        inset 0 2px 4px rgba(255,255,255,0.1);
    position: relative;
    border: 3px solid #40407a;
}

.knob-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.display-screen {
    margin-top: 50px;
    font-size: larger;
    text-align: center;
}

.knob {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at 50% 50%, #663d9e, #2c2c54);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:
        0 8px 16px rgba(0,0,0,0.3),
        inset 0 2px 4px rgba(255,255,255,0.1),
        inset 0 -2px 4px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

 .knob-indicator {
    width: 4px;
    height: 25px;
    background: rgb(139, 136, 137);
    position: absolute;
    top: 8px;
    left: 50%;
    transform-origin: center bottom;
    transform: translateX(-50%);
    border-radius: 2px;
    transition: transform 0.3s ease;
}
.knob-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}